*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* -------------------- header ------------------------------------------------*/

.menu-bar
{
   
}

.nav-link
{
    font-size: 16px;
    margin: 2px;
}


.menu-bar span {
    color: red;
    font-size: larger;
}

.menu-bar span:hover{
    color: black;
    font-size: x-large;
    

}

.navbar-nav
{
    text-align: right;
}

.menu-bar .navbar-toggler
{
    padding-right: 0;
    outline: none;
    border: none;
}

.banner
{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/imageone.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.banner h1
{
    padding-top: 170px;
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 600;
    text-shadow: 0 0 30px black;
}

.search-job
{
    padding: 30px 0;
    margin: -50px 6% 50px;

    background-image: linear-gradient(to right ,blue , aqua);

}

.search-job .form-control
{
    max-width: 250px;
    display: inline-flex;
    margin: 10px 5px;
    border-radius: 0;

    box-shadow: none !important;
    border: none !important;
}

.search-job .btn-primary
{
    border-radius: 0;
    box-shadow: none !important;
    border: none;
    display: inline-flex;
    margin: 5px;
    padding: 5px 50px;
}



/* -------------------- recuiters ------------------------------------------------*/

#recuiters
{
    padding-top:50px ;

    padding-bottom:100px ;
}

#recuiters h3{
    text-align: center;
    padding-bottom: 40px;
}

h3::before 
{
    content: '';
    background-image: linear-gradient(to right ,blue , aqua);
    width: 50px;
    height: 30px;
    position: absolute;
    z-index: -10;
    margin-top: -15px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 90px;

}

#recuiters img{
    max-width: 100px;
    margin: 10px 20px;

}



/* -------------------- recent jobs ------------------------------------------------*/

#jobs
{
    background: gainsboro;
    padding: 50px 0;
}

.company-details
{
    box-shadow: 0 2px 70px 0 rgba(21, 5, 58, 0.18);
    border-radius: 5px;
    margin-bottom: 20px;
}

.job-update
{
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.job-update  .fa-solid{
    margin-top: 5px;
    margin-right: 10px;
    color: #77d1b1;
}


.job-update small
{
    background: #efefef;
    padding: 1px 5px;
    margin: 0 5px;
}

.job-update p
{
    margin-bottom: 0  !important;
}

.job-update a
{
    text-decoration: none;
    color:  aqua;
    float: right;
}

.apply-btn 
{
    height: 40px;
    background-image: linear-gradient(to right ,blue , aqua);
    padding: 7px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;

}

.apply-btn .btn-primary
{
    padding:  0 30px;
    float: right;
    border-radius: 0;
    box-shadow: none  !important;
    background: transparent;
    border: 2px solid white;
}

.apply-btn .btn-primary:hover
{
    padding:  0 30px;
    float: right;
    border-radius: 0;
    box-shadow: none  !important;
    background: blue;
    border: 2px solid white; 

}

.pagelink li
{
    height: 25px;
    width: 25px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

.pagelink li:hover, .active 
{
    background-color: blue;
    color: white;
}

.left-arrow
{
    color: #999;
}

.right-arrow
{
    color: #29b929;
}


/* ------------------------- SITE STATS ----------------------------------- */


#site-stats
{
    padding: 100px 0;
}

#site-stats h3
{
    margin-bottom: auto;
}

.stats-box
{
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 2px 40px 0 rgb(110, 130, 208, .18);

}


.stats-box .fa{
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}


/* ------------------------- app banner ----------------------------------- */

#app-banner
{

    background-image: linear-gradient(to right ,blue , aqua);
    padding: 50px 0;


}

#app-banner h1
{
    margin-top: 20px;
    color: white;

}

#app-banner img
{
    width:300px;
    height: 100px;
    margin: 10px;

}


/* ------------------------- footer ----------------------------------- */


#footer
{

    background-color: black;
   

}


.foot
{

    width: 500px ;
    color: white;
    
}







